
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* NAV BAR */

.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: black;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 200px;
    width: 50%;
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-right: 200px;
}

a{
    text-decoration: none;
    color: black;
}

.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 250px;
}

.image{
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50px;
}
img{
    border-radius: 50%;
}

.name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    font-weight: 600;
    
}

.h1{
    font-size: 3rem;
}

.p2 {
    font-size: 1.75rem;
}
