
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: #78cad2; */
    
}

/* NAV BAR */

.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    color: #454d66;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 200px;
    width: 50%;
    
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-right: 200px;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: #454d66;
}

/* Column-1 with picture and name */

.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 250px;
}

.col-1-image{
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50px;
}
.col-1-image img{
    border-radius: 50%;
}

.col-1-name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    font-weight: 600;
    color: #454d66;
    
}

.col-1-h1{
    font-size: 3rem;
    margin-top: auto;
}

.col-1-p2 {
    font-size: 1.75rem;
    margin-top: auto;
}

/* About Me */
.col-2{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px 0 200px;
    color: #454d66;
}

.col-2-p1{
    margin-bottom: auto;
}

.col-2-h1{
    font-weight: 600;
}

.col-2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
    
}

.col-2-exp-edu-details{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    padding-left: 100px;
}

.col-2-exp-edu{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 100px;
}

.col-2-image{
    display: flex;
    height: 300px;
    width: 300px;
}

.col-2-image img{
    border-radius: 20px;
} 
