
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* NAV BAR */

.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: black;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 200px;
    width: 50%;
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-right: 200px;
}

a{
    text-decoration: none;
    color: black;
}